@import url("common.css");
@import url("animation.css");

* {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
    display: none !important;
}

.font-esthetic {
    font-family: 'Sacramento', cursive !important;
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
}

.img-center-crop {
    width: 14rem;
    height: 14rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.btn-float {
    right: 2vh;
    z-index: 1030;
}

.btn-float.bg-dark {
    background-color: rgba(var(--bs-dark-rgb), 0.9) !important;
    backdrop-filter: blur(0.625rem);
}

.btn-float.bg-light {
    background-color: rgba(var(--bs-light-rgb), 0.9) !important;
    backdrop-filter: blur(0.625rem);
}

.loading-page {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1056;
}

.color-theme-white {
    color: rgb(255, 255, 255);
    background-color: var(--bs-light);
}

.color-theme-black {
    color: rgb(0, 0, 0);
    background-color: var(--bs-dark);
}

.bg-cover-home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(0.5turn, transparent, black 10%, black 90%, transparent);
}

.styleChoose{
    background-color: #DF4759 !important; 
    padding: 10px !important; 
    color: white !important; 
}
.styleNone{
    background-color: #ececec !important;
    padding: 10px !important; 
    color: black !important; 
}
.outer{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carContainer{
    margin-top: 20px;  box-shadow: 0 0 15px 5px #abb8c3; padding: 30px 10px 30px 10px;
}



.image-grid {
    padding: 0px;
  }
  
  .image-row {
    display: flex;  
  }
  
  .image-row .image {
    margin: 10px;
    height: 8rem;  
  }
  
  .image { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 6px 12px #e9ecef, 
                0 6px 12px #e9ecef,
                0 6px 12px #e9ecef;
  }
  
  .image-01 {
    background-image: url('../assets/images/anhCuoi/Screenshot_1.png'); 
    flex: 1;  
  }
  
  .image-02 {
    background-image: url('../assets/images/anhCuoi/Screenshot_2.png'); 
    flex: 2;  
  }
  
  .image-03 {
    background-image: url('../assets/images/anhCuoi/Screenshot_3.png'); 
    flex: 1;  
  }
  
  .image-04 {
    background-image: url('../assets/images/anhCuoi/Screenshot_4.png'); 
    flex: 1;
  }
  
  .image-05 {
    background-image: url('../assets/images/anhCuoi/Screenshot_5.png'); 
    flex: 2;
  }
  
  .image-06 {
    background-image: url('../assets/images/anhCuoi/Screenshot_6.png'); 
    flex: 2;
  }
  
  .image-07 {
    background-image: url('../assets/images/anhCuoi/Screenshot_7.png'); 
    flex: 2;
  }
  
  .image-08 {
    background-image: url('../assets/images/anhCuoi/Screenshot_8.png'); 
    flex: 2;
  }
  
  .image-09 {
    background-image: url('../assets/images/anhCuoi/Screenshot_9.png'); 
    flex: 2;
  }

  .image-10 {
    background-image: url('../assets/images/anhCuoi/Screenshot_10.png'); 
    flex: 2;
  }

  .image-11 {
    background-image: url('../assets/images/anhCuoi/Screenshot_11.png'); 
    flex: 2;
  }

  .image-12 {
    background-image: url('../assets/images/anhCuoi/Screenshot_12.png'); 
    flex: 2;
  }

  .image-13 {
    background-image: url('../assets/images/anhCuoi/Screenshot_13.png'); 
    flex: 2;
  }

  .image-14 {
    background-image: url('../assets/images/anhCuoi/Screenshot_14.png'); 
    flex: 2;
  }

  .image-15 {
    background-image: url('../assets/images/anhCuoi/Screenshot_15.png'); 
    flex: 2;
  }

  .image-16 {
    background-image: url('../assets/images/anhCuoi/Screenshot_16.png'); 
    flex: 2;
  }

  .image-17 {
    background-image: url('../assets/images/anhCuoi/Screenshot_17.png'); 
    flex: 2;
  }

  .image-18 {
    background-image: url('../assets/images/anhCuoi/Screenshot_18.png'); 
    flex: 2;
  }

  .image-19 {
    background-image: url('../assets/images/anhCuoi/Screenshot_19.png'); 
    flex: 2;
  }

  .image-20 {
    background-image: url('../assets/images/anhCuoi/Screenshot_20.png'); 
    flex: 2;
  }

  .image-21 {
    background-image: url('../assets/images/anhCuoi/Screenshot_21.png'); 
    flex: 2;
  }

  .image-22 {
    background-image: url('../assets/images/anhCuoi/Screenshot_22.png'); 
    flex: 2;
  }

  .image-23 {
    background-image: url('../assets/images/anhCuoi/Screenshot_23.png'); 
    flex: 2;
  }

  .image-24 {
    background-image: url('../assets/images/anhCuoi/Screenshot_24.png'); 
    flex: 2;
  }

  .image-25 {
    background-image: url('../assets/images/anhCuoi/Screenshot_25.png'); 
    flex: 2;
  }

  .image-26 {
    background-image: url('../assets/images/anhCuoi/Screenshot_26.png'); 
    flex: 2;
  }

  .image-27 {
    background-image: url('../assets/images/anhCuoi/Screenshot_27.png'); 
    flex: 2;
  }

  .image-28 {
    background-image: url('../assets/images/anhCuoi/Screenshot_28.png'); 
    flex: 2;
  }

  .image-29 {
    background-image: url('../assets/images/anhCuoi/Screenshot_29.png'); 
    flex: 2;
  }

  .image-30 {
    background-image: url('../assets/images/anhCuoi/Screenshot_30.png'); 
    flex: 2;
  }

  .image-31 {
    background-image: url('../assets/images/anhCuoi/Screenshot_31.png'); 
    flex: 2;
  }

  .image-32 {
    background-image: url('../assets/images/anhCuoi/Screenshot_32.png'); 
    flex: 2;
  }

  .image-33 {
    background-image: url('../assets/images/anhCuoi/Screenshot_33.png'); 
    flex: 2;
  }

  .image-34 {
    background-image: url('../assets/images/anhCuoi/Screenshot_34.png'); 
    flex: 2;
  }

  .image-35 {
    background-image: url('../assets/images/anhCuoi/Screenshot_35.png'); 
    flex: 2;
  }
  